body {
    background-color: burlywood
}

#wrapper {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}


header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li { 
    display: inline;
    margin-right: 40px;
}

a { 
    color: #777;
    text-decoration: none;
    font-family: arial, sans-serif;
}


aside {
    width: 310px;
    height: 550px;
    float: left;
    background: aqua;
}


section {
    overflow: scroll;

    width: 650px;
    height: 550px;
    float: right;
    background: darkgrey;

}


footer {
    height: 50px;
    clear: both;
    background: pink;
}
