body {
	background-color: dimgray;
}


#wrapper {
	width: 90%;
	background: grey;
	border: 3px solid black;
	border-radius: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}


header {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background: grey;
}

nav {
	text-align: center;
	background: grey;
	}
	
nav ul {
	list-style-type: none;
}

nav li { 
	display: inline;
	margin-right: 30px;
}

a { 
	color: black;
	text-decoration: none;
	font-family: arial, sans-serif;
}


aside {
	width: 20%;
	height: 500px;
	float: left;
	background: darkgrey;
}


section {overflow: scroll;

	width: 79%;
	height: 500px;
	float: right;
	background: darkgrey;
}


footer {
	height: 50px;
	clear: both;
	text-align: center;
	padding-top: 10px;
	background: grey;
}