* {
    box-sizing: border-box;
}

.green {
    background-color:#008000;
    color:white;
    text-align:center;
}

a:link {
    color: rgb(255, 153, 0);
}

a:visited {
    color: #D2691E;
}

a:active {
    color: rgb(224, 160, 63);
}