* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    border-bottom: 2px solid black;
    margin: 0;
}

th {
    background-color:#008000;
    color:white;
    text-align:center;
}

a:link {
    color: rgb(124, 79, 11);
}

a:visited {
    color: #D2691E;
}

a:active {
    color: rgb(124, 79, 11);
}