section {
	border: 1px solid black;
	overflow: scroll;

	width: 79%;
	height: 500px;
	float: right;
	color: aliceblue;
	background-image: url("bg2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}