
body {background-color: black; color:white;}

#bigframe	{background-color: black; width: 90%; border: 5px solid green; padding: 5px; margin-left: auto; margin-right: auto;}
#header		{background-color: pink; color: blue; text-align: center;}

#navicontent	{background-color: magenta; border: 5px solid red; padding: 5px; text-align: center;}
#navi		{display: inline-block; width: 30%; height: 90%; background-color: lawngreen; color: lawngreen; text-align: left;}
#content	{display: inline-block; width: 60%; height: 90%; background-color: aqua; color: blue; text-align: left;}

#footer		{background-color: grey; color: blue; text-align: center;}

#trick		{color: blue;} /* damit Navi und Inhalt immer auf gleicher Höhe sind / nicht üblich, nur Demozwecke */