body {
    background: rgb(0, 0, 0);
    background: linear-gradient(143deg, rgba(0, 0, 0, 1) 0%, rgba(0, 70, 75, 1) 16%, rgba(0, 148, 141, 1) 32%, rgba(107, 239, 240, 1) 50%, rgba(0, 148, 141, 1) 68%, rgba(0, 70, 75, 1) 84%, rgba(0, 0, 0, 1) 100%);
    font-family: arial,verdana,fantasy;
    font-size: 17px;
    list-style-type: none;
}

li {
    font-family: fantasy;
    font-size: 16px;
    list-style-type: none;
}

a:link {
    background: -webkit-radial-gradient(circle, rgba(130, 36, 115, 1) 0%, rgba(105, 71, 145, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

a:visited {
    background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(107, 239, 240, 1) 50%, rgba(0, 148, 141, 1) 68%, rgba(67, 103, 106, 1) 84%, rgba(0, 0, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover {
    background: -webkit-linear-gradient(180deg, rgba(148, 228, 105, 1) 0%, rgba(9, 41, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.enabled{
    text-decoration: underline;
}

.disabled{
    text-decoration: overline;
}